<h1>
  <!--Insert title here-->
</h1>

<div>
  <!--Insert image here-->
</div>

<div>
  <!--Insert subtitle here-->
</div>

<div>
  <!--Insert link back to listing here-->
</div>

<div>
  <!--Insert body here-->
</div>

{{outlet}}
